<div id="title">
            <center><h1>Relax</h1></center>
        </div>
        <div id="free-color" style="background-color: #AE8FB1; color: black;" onclick="showColor()">
            <center><p style="color: black;">Color</p></center>
        </div>
        <div id="reveal-mode" style="background-color: #344648; color: white;" onclick="showReveal()">
            <center><p style="color: white;">Reveal</p></center>
        </div>
        <div id="avatar-rest">
            {{> avatar skin=skin-color shirt=shirt-color pants=pants-color shoes=shoes-color hair=hair-color hair-visibility=hair-vis}}
        </div>
        <div id="shelves">
            {{#each coloring-pages}}
                <div class="shelf" id="{{itemId}}" onclick="gotoColor('{{itemName}}', '{{@index}}')">
                    <center>
                    <img src="./img/4_coloring_{{itemName}}.png">
                    <p>{{itemName}}</p>
                    </center>
                </div>
            {{/each}}
            <foo id="shelves-extra">
                <div class="shelf"></div>
                <div class="shelf"></div>
            </foo>
        </div>
        <div id="source">
            <center><p>*All images from Pixabay</p></center>
        </div>